;; Copy this file to /etc/murja/config.edn
{:db {;; same auth details as in the docker-compose.yml
      :user "blogadmin"
      :password "blog"
      :host "localhost"
      :port "5432"
      :db "blogdb"
      :dbname "blogdb"
      :classname "org.postgresql.Driver"
      :dbtype "postgresql"}
 :http {:host "127.0.0.1"
        :port 3000}
 :css-route "/site.css"
 :js-route "/tangorauta/projects/murja-blog/elm-frontti/elm.js" ;;path where elm spits out the frontend js
 ;; TODO make a ci script that embeds elm's result to jar's resource dir
 :client-config {:time-format "dd.MM.yyyy HH:mm"
                 :blog-title "Murja.dev @ $HOSTNAME"
                 :recent-post-count 6
                 :xss-filter-posts? false}}
