;; Copy this file to /etc/murja/config.edn
{:db {:user "blogiadmin"
      :password "db_password_here"
      :host "localhost"
      :port "5432"
      :db "blogdb"
      :dbname "blogdb"
      :classname "org.postgresql.Driver"
      :dbtype "postgresql"}
 :client-config {:time-format "dd.MM.yyyy HH:mm"
                 :recent-post-count 6
                 :xss-filter-posts? false}}
