.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

#devtool {
    background-color: #FF0000;
    position: fixed;
    right: 1%;
    bottom: 1%;
}

#minidevtool {
    width: 20%;
    position: fixed;
    right: 1%;
    bottom: 1%;
    background-color: #FF9002;
    /* display: table; */
}

#devtool td {
    border: 2px solid black;
}
